.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(135deg, #f8faff, #e9f1ff);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}



.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #007bff;
}

.btn-contacto {
  background: #007bff;
  color: #fff !important;
  padding: 8px 15px;
  border-radius: 8px;
}
